*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



h2:hover{
    animation: myAnim 2s ease 0s 1 normal forwards;
}

body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    
}

.xdxd{
    background: #780d0d url(https://img.freepik.com/foto-gratis/playa-tropical_74190-188.jpg?w=2000) center center/cover no-repeat;
}

.salida{
    text-transform: uppercase;
    width: 30% ;
    height: 100px;
    margin: 10px auto;
    border: 10px double #000;
}

@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

